/* You can add global styles to this file, and also import other style files */
@import './style/main.css';

footer {
  padding: 50px 0 50px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

@media (max-height: 1000px) {
  footer {
    position: relative;
  }
}


