<div *ngIf="stop" class="flex-element">
  <h2><span>{{stop.name | uppercase}}</span><span class="next_departures">: next departures</span></h2>
  <ul *ngIf="departureList">
    <li class="flex-container label">
      <span>line - direction</span>
      <div>
        <span class="small-flex-item">departing in</span>
      <span class="small-flex-item">delay</span>
      </div>
    </li>
    <app-departure *ngFor="let departure of departureList" [departure]=departure class="departures"></app-departure>
  </ul>
  <button (click)="goBack()"> < Go Back</button>
</div>

