<div *ngIf="stop" class="flex-element">
  <h2>{{stop.name | uppercase}}
    <span class="del_on_narrow_screen">:
      <span class="br_on_medium_screen">next departures</span>
    </span>
  </h2>
  <ul *ngIf="departureList">
    <li class="flex-container label br_on_narrow_screen">
      <span class="line-direction br_on_narrow_screen">line - direction</span>
      <span class="small-flex-item">departing in</span>
      <span class="small-flex-item">delay</span>
    </li>
    <app-departure *ngFor="let departure of departureList" [departure]=departure class="departures"></app-departure>
  </ul>
  <div class="error" *ngIf="!departureList">A problem occurred while fetching the data. Please make sure the backend server is running and try again.</div>
  <button (click)="goBack()"> < Go Back</button>
</div>

