@import '../style/main.css';

.label {
  font-style: italic;
  margin: 10px 0;
  color: var(--highlight2);
}

@media (max-width: 400px) {
  .label {
    display: block;
  }
}

.label:hover {
  border: none;
}
