
html {
  --basic-size: 18px;
  --h-size: 30px;
  --h2-size: 25px;
  --h3-size: 20px;
  --highlight1: #e34f6d;
  --highlight2: #88cbc4;
  --color: #eeeeee;
  --background: #143d52;
  --background2: #143d52;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--basic-size);
  color: var(--color);
  background: var(--background2);
  text-align: center;
}

.flex-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

.flex-container > * {
  width: 80%;
  min-width: 200px;
  max-width: 900px;
}

a {
  text-decoration: none;
  color: var(--highlight2);
}

li {
  min-height: 40px;
  padding: 5px 10px;
  border: 1px solid var(--background);
  /*transition: 0.5s;*/
}

li:hover:not(.label) {
  border: 1px solid var(--highlight2);
  /*font-size: 3em;*/
  color: var(--highlight2);

}

.line-direction {
  text-align: left;
}

.small-flex-item {
  width: 30%;
  text-align: right;
  margin: 0 10px;
}


@media (max-width: 800px) {
  .flex-container > * {
    min-width: 0;
  }

  .big-flex-item {
    width: 100%;
  }

  .flex-container {
    margin: 0 2%;
  }

  .br_on_medium_screen {
    display: block;
  }
}


@media (max-width: 500px) {
  .del_on_narrow_screen {
    display: none;
  }

  .br_on_narrow_screen {
    display: block;
  }
}
