

.urgent {
  background: rgba(227, 79, 109, 0.4);
}

.urgent:hover {
  color: var(--color);
  border-color: var(--color);
  background: rgba(227, 79, 109, 0.6);
}

li:hover {
  color: var(--color);
}

@media (max-width: 400px) {
  li.flex-container > .big-flex-item {
    display: block;
    text-align: center;
  }
}
